### npm config (.npmrc)

# Essa configuracao serve para instalar os packages e mante-los na versão fixa instalada.
# Dessa forma é possível saber exatamente quais recursos temos disponíveis.

# Além disso, existem bots como o `renovate` que fica procurando atualizações dos nossos pacotes, caso exista, instala ele e roda os testes.
# Se os testes passarem, ele abre um pull request no repo sugerindo a atualização do package.

save-exact=true